*{
    margin: 0;
    padding: 0;
    border-size:border-box;
}
h1 { 
	color: rgb(19, 37, 117); 
	margin-bottom: -8px; 
} 
p { 
	margin-bottom: -10px; 
} 
.ui { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 
.row { 
	display: flex; 
} 
.cell { 
	border: none; 
	width: 80px; 
	height: 80px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 24px; 
	text-align: center; 
	cursor:-webkit-grab; 
} 
.cell:active { 
	outline: none; 
} 

#b1{ 
	border-bottom: 1px solid rgb(92, 34, 34); 
	border-right: 1px solid gray; 
} 

#b2 { 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b3 { 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b4 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-right: 1px solid gray; 
} 
	
#b5 { 
	border: 1px solid gray; 
} 

#b6 { 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b7 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
} 

#b8 { 
	border-top: 1px solid gray; 
	border-right: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#b9 { 
	border-top: 1px solid gray; 
	border-left: 1px solid gray; 
} 

#button { 
	box-sizing: border-box; 
	width: 200px; 
	height: 40px; 
	border: 1px solid dodgerblue; 
	margin-left: auto; 
	border-radius: 8px; 
	font-family: cursive;
	background-color: whitesmoke; 
	color: dodgerblue; 
	font-size: 20px; 
	cursor: pointer; 
} 
#button:hover{
    background-color: blueviolet;
   
  
}


#print { 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 
	color: dodgerblue; 
	font-size: 20px; 
} 


#main { 
	text-align: center; 
} 


#ins { 
	font-family: Verdana,Geneva, 
					Tahoma, sans-serif; 
	color: rgb(139, 158, 173); 
}
